{% extends 'baseFront.html.twig' %}

{% block title %}Hello ConnexionController!{% endblock %}

{% block hero %}
<form class="container" action="{{ path('app_connexion') }}" methode="post" >
<div  >

  <div   class="mb-3">
  <label class="form-label">Adresse email</label>
  <input type="text" class="form-control" placeholder="adresse email ...  " required name="_adresseemail"  >
  </div>

  <div   class="mb-3">
   <label class="form-label">Mot de passe</label>
  <input type="password" class="form-control" placeholder="mot de passe ...  " required name="_motdepasse"  >
  </div>

   <div  class="mb-3">
    <button class="btn btn-success" type="submit">Connexion</button>
  </div>
</div>
</form>
{% endblock %}
