{% extends 'baseFront.html.twig' %}

{% block hero %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<section class="vh-100" style="margin-bottom : 150px">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{{asset('img/74.jpg')}}"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; margin-top: 100px;
                margin-left: 20px;" />
               
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form action="{{ path('security_login') }}" method="post">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Connexion !</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">connecter avec votre compte</h5>

                  <div class="form-outline mb-4">
            <input placeholder="Adresse email..." requied name="_username" value ="{{lastUsername}}"
                   type="text" class="form-control form-control-lg">
                    <label class="form-label" for="form2Example17">Adresse Email</label>
                  </div>

                  <div class="form-outline mb-4">
              

                   <input placeholder="Mode de passe..." requied name="_password"
                   type="password" class="form-control">
                   
                    <label class="form-label" for="form2Example27">Mot de passe </label>
                  </div>
                 
                  <div class="form-group">
       <button type="submit" class="btn btn-success">Connexion</button>
    </div>

                  <a class="small text-muted" href="/forgotPassword">Mot de passe oublié ?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">creer un compte? <a href="#!"
                      style="color: #393f81;">cliquer ici </a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
