{% extends 'baseFront.html.twig' %}

{% block hero %}

<section class="vh-100" style="margin-bottom : 150px">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
 {{ form_start(requestPassForm,{'attr': {'novalidate':'novalidate'}}) }}
                <form >

                  <div class="d-flex align-items-center mb-3 pb-1">
                 
                    <span class="h1 fw-bold mb-0">Reinitalisation de mot de passe </span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">connecter avec votre compte</h5>
   
                  <div class="form-outline mb-4">
           
                
                 {{form_row(requestPassForm.password)}}
                 
       <button type="submit" class="btn btn-success" >changer Mot de passe </button>
    
   {{form_end(requestPassForm)}}
    </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
